{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/svg+xml" href="{% static '/vite.svg' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link href="https://fonts.cdnfonts.com/css/clash-display" rel="stylesheet">
	<title>Simulador de Prensa</title>
</head>

<body>
	<div id="app">


		<div class="container" id="escolha">
			<div class="header">
				<h1 class="title"><span class="subtitle">Simulação</span><br>MecFlu & Resmat</h1>
				<h3>Escolha abaixo qual das ferramentas você deseja utilizar</h3>
			</div>
			<a class="button btn-cisalhamento" href="cis.html">Simulação de Tensão de Cisalhamento</button>
			<a class="button btn-momfletor" href="fletor.html">Simulação de Momento Fletor</button>
			<a class="button btn-maxflexao" href="flex.html">Simulação de Tensão Máxima de flexão</button></a>
			<a class="button btn-tensnormal" href="normal.html">Simulação de Tensão Normal</button></a>
		</div>

	</div>
	<script type="module" src="{% static './main.js' %}"></script>
</body>

</html>